:root {
  --color-primary: #c11f14;
  --color-gray: #6b7280;
  --color-bg: #c21010ca; 
  --color-text: #2f0c0cd7; 
  --font-base: 'Segoe UI', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-base);
  background: radial-gradient(circle, var(--color-bg) 20%, var(--color-text) 100%);
  color: var(--color-text);
  line-height: 1.6;
}
